* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    cursor: pointer;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;

}

h6 {
    text-align: center;
    font-weight: bold;
    color: white;
}

p{
    text-align: center;
    font-weight: 500;
    color: grey;
    font-size: 0.6em;
}

/* COMMON */
/* LAYOUT */

.wrapper {
    width: 100%;
    height: 100vh;
    /* debug */
    border: 2px solid rgb(96, 43, 43);
    background-color: lightblue;
}

.top-app {
    display: flex;
    width: 100%;
    height: calc(100% - 80px);
    /* debug */
    border: 1px solid black;
    background-color: lightcoral;

}


/* FOOTER PLAY NAV */
.footer-nav {
    height: 80px;
    /* debug */
    border: 1px solid violet;
    background-color: rgba(2, 2, 2, 0.513);
    /* /FOOTER */
}

.side-bar {
    width: 250px;
    /* debug */
    border: 1px solid black;
    background-color: rgb(122, 142, 142);
    min-height: 200px;
}

.music-box {
    width: calc(100% - 250px);

    /* debug */
    border: 1px solid black;
    background-color: rgb(143, 167, 90);
    min-height: 200px;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: end;
    color: white;
    /* debug */
    border: 1px solid rgba(0, 0, 0, 0);

}
.logo-big {
    padding: 20px;
    width: 180px;
}
.logo-small {
    display: none;
}

.effettua {
    border: 1px solid white;
    border-radius: 20px;
    padding: 4px 30px;
}

/* MAIN CONTENT */
.main-content {
    padding: 10px 10px 20px;
    height: calc(100% - 80px);
    overflow-y: auto;
    /* debug */
    background-color: rgb(41, 56, 123);
}
.row-title{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 0.8em;
    color: white;
}
.recently {
    padding: 5px;
    color: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    /* debug */
}
.card {
    padding: 10px;
    width: calc(100% / 6);
    /* debug */
    /* min-height: 250px;
    border: 1px solid black; */
}

.ascolti {
    color: rgb(146, 142, 142);
    font-weight: 500;
}

/* IMMAGINI TONDE  */
.tonde {
    border-radius: 50%;
}

.search-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 30px;
    margin-left: 10px;
}
/* BARRA FOOTER */
.left-footer {
    width: 65px;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hight-list {
    
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: lightsalmon;
}
.bottom-list{
    width: 100%;
    height: 150px;

    border: 1px solid black;
    background-color: red;
}
.hight-list img{
    width: 30px;
    text-align: center;
    margin-left: 10px;
}
.hight-list span{
    
    font-weight: 600;
    color: #ffff;
    text-align: center;
    font-size: 0.8em;
    margin-left: 5px;
}
.playlist{
    margin-left: 10px;
}













/* ***************** */
/* RESPONSIVE */
/* ***************** */

/* 1024px */
@media screen and (max-width: 1024px) {
    .side-bar {
        width: 250px;
    }

    .music-box {
        width: calc(100% - 250px);
    }
    /* SOTTOTITOLO SCOPRI VA CAPO */
    .row {
        flex-wrap: wrap;
    }
    
    .card{
        width: calc(100% / 4);
    }

}

/* 768px */
@media screen and (max-width: 768px) {
    .side-bar {
        width: 250px;
    }

    .music-box {
        width: calc(100% - 250px);
    }
    .card {
        width: calc(100% / 2);
    }
}

/* 425px */
@media screen and (max-width: 425px) {
    .side-bar {
        width: 50px;
    }

    .music-box {
        width: calc(100% - 50px);
    }

    /* FOTO */
    .card {
        width: calc(100% / 2);
    }
    /* FAR SPARIRE LOGO */
    .logo-big {
        display: none;
    }
    .logo-small{
        display: flex;
        align-items: center;
        width: 40px;
        margin-left: 5px;
    }
}